.my-card{
    display: block;
}
.headercolor{
    background-color: rgb(221, 219, 218,1); font-size: 16px;
}
.custom-width{
    width: 25%;
}
.custom-width-1{
    width: 50%;
}
.overflow{
    overflow: hidden;
}