.task-css {
    --sds-c-accordion-summary-color-background:rgb(234, 235, 237);
}
.sub-css {
    --sds-c-accordion-summary-color-background:rgb(244, 246, 247);
}
.slds-modal__container {
    max-width: 80rem !important;
    width: 100% !important;
}